*
!*/
.*
!.gitignore
!.gitkeep
!Makefile
!*.cpp
!*.hpp
!*.tpp
!**/tests/googletest/**/*.a
!**/tests/googletest/**/*.h
!.clang-format
!*.conf
!*.py
!*.pl
!*.html
!*.ico
!*.css
!*.js
!*.vscode
!*.json
