body {
	font-family: system-ui, sans-serif;
	margin: 0;
	background: #fafafa;
	color: #333;
}

header {
	background: #222;
	color: white;
	padding: 1em;
}

nav a {
	color: white;
	text-decoration: none;
	margin-right: 1em;
}

nav a.active {
	text-decoration: underline;
}

.logo {
	height: 40px;
	vertical-align: middle;
	margin-right: 10px;
}
