body {
	font-family: Arial;
	padding: 20px;
	background: #f4f4f4;
}

h1, h3 {
	text-align: center;
}

.container {
	max-width: 800px;
	margin: auto;
}
.upload-form, .gallery {
	background: #fff; 
	padding: 20px;
	border-radius: 5px;
	margin-bottom: 20px; 
}

.gallery img 
{
	width: 150px;
	margin: 10px;
	border-radius: 5px;
}

.cat-item {
	display: inline-block;
	position: relative;
}

.delete-btn {
	position: absolute;
	top: 5px;
	right: 5px;
	background: red;
	color: white;
	border: none;
	padding: 3px 6px;
	cursor: pointer;
}

.upload-message {
    margin: 10px 0;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    background-color: #28a745; /* green for success */
    visibility: hidden; /* hidden by default */
}